<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907385088130-ma041498020jteiign88950sue387omt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907385088130-ma041498020jteiign88950sue387omt</string>
	<key>API_KEY</key>
	<string>AIzaSyABamPmSr04lRMdjQ7rRbj5pHnvAtElGUE</string>
	<key>GCM_SENDER_ID</key>
	<string>907385088130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wuchi.blablablock-dev</string>
	<key>PROJECT_ID</key>
	<string>blablablock-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>blablablock-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907385088130:ios:702036bf9c3bea7c28ec9b</string>
</dict>
</plist>